<section class="two">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>
          About Ian McKenzie
        </h1>
        <h2>Sales &amp; Project Manager @ Objektiv Digital</h2>
        <p class="text-left portfolio-info">
          Ian McKenzie began his professional career as a retail cashier and retail manager, working in the industry for 10 years. This gave him 10 years of conversational experience to step out of his nerdy hermit shell and communicate like a rather pleasant and personable human being. There are still some oddities, however, such as speaking about himself in the third person when writing a bio on a website. To be fair, he's way too small-time to hire a copywriter.
        </p>
        <p class="text-left portfolio-info">
          After retiring from retail, Ian enrolled at North Island College to learn software development and graphic design. He graduated with honors and had the college asking themselves, "How can we create more students like him?" During his time at North Island College, he created a tech startup for an application called Stridr and became the first college student for <a href="http://innovationisland.ca/" target="_blank">Innovation Island</a> to invite into the <a href="https://bcic.ca/programs_initiatives/current/venture-acceleration-program/" target="_blank">BC Venture Acceleration Program</a>.
        </p>
        <p class="text-left portfolio-info">
          Having a taste for startups on his palette, Ian seeks to assist in helping fellow entrepreneurs see their minimum viable product into fruition and their current product iterating and scaling. He also likes to keep his WordPress and graphic design skills sharp by working with local designers, developers, marketers, and non-tech entrepreneurs to satisfy their digital needs.
        </p>
      </div>

      <div class="col-sm-6">
        <img src="images/ian.jpg" class="img-fluid" alt="Photograph of Ian McKenzie with a mischievous look on his face while sitting at a restaurant.">
      </div>
    </div>
  </div>
</section>