
    <footer>
      <div class="container">
        <div class="row text-left">
          <div class="col-12 col-sm-4">
            <strong>Objektiv Digital</strong>
            <p>© <a target="_blank" href="https://ians.studio">Ian Rand McKenzie</a> 2018</p>
            <strong>Social</strong>
            <p>
              <a target="_blank" href="https://www.github.com/ianrandmckenzie">GitHub</a> • 
              <a target="_blank" href="https://www.dribbble.com/ianrandmckenzie">Dribbble</a> • 
              <a target="_blank" href="https://www.instagram.com/objektivdigital">Instagram</a>
            </p>
          </div>
          <div class="col-12 col-sm-4">
            <strong>gilakas’la / čɛčɛ haθɛč</strong>
            <p>I respectfully and gratefully acknowledge that I live, work and play within the traditional territory of the K’ómoks Nation.</p>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/popper.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/typed.min.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>