<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Objektiv Digital | Design &amp; Development for Web, Mobile, Servers</title>
    <meta name="description" content="Objektiv Digital designs and develops web, mobile, and server solutions in the Comox Valley and beyond." />
    <meta name="keywords" content="mobile-development-comox-valley,mobile-development-courtenay,web-development-comox-valley,web-development-courtenay,startup-developer,web-design-courtenay,web-design-comox-valley,freelance-developer-comox-valley,freelance-designer-comox-valley,tech-solutions-comox-valley" />
    <meta name="author" content="Ian Rand McKenzie" />

    <meta property="og:site_name" content="Ian Rand McKenzie"/>
    <meta property="og:title" content="Objektiv Digital | Design &amp; Development for Web, Mobile, Servers"/>
    <meta property="og:description" content="Objektiv Digital designs and develops web, mobile, and server solutions in the Comox Valley and beyond.">
    <meta property="og:image" content="https://objektiv.digital/images/objektiv-og-image.png">
    <meta property="og:url" content="https://objektiv.digital">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ianrandmckenzie">
    <meta name="twitter:title" content="Objektiv Digital | Design &amp; Development for Web, Mobile, Servers">
    <meta name="twitter:description" content="Objektiv Digital designs and develops web, mobile, and server solutions in the Comox Valley and beyond.">
    <meta name="twitter:image" content="https://objektiv.digital/images/objektiv-og-image.png">
    <meta name="twitter:domain" content="https://objektiv.digital">
    <meta name="google-site-verification" content="M-ycnjA_JSFYWUrUgcS-CyuvwDoSBRIT-cLrgFtmWQ0" />
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body id="body">