<!-- Curious Markings -->
<!-- Modal -->
<div class="modal fade" id="cmc1" tabindex="-1" role="dialog" aria-labelledby="cmc1Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the Curious Markings app camera view</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/mobile_app_development/camera.png" alt="Screenshot of the Curious Markings app camera view" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cmc2" tabindex="-1" role="dialog" aria-labelledby="cmc2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the Curious Markings app map view</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/mobile_app_development/map.png" alt="Screenshot of the Curious Markings app map view" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cmc3" tabindex="-1" role="dialog" aria-labelledby="cmc3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the Curious Markings app sign up view</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/mobile_app_development/sign_up.png" alt="Screenshot of the Curious Markings app sign up view" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cmc4" tabindex="-1" role="dialog" aria-labelledby="cmc3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the Curious Markings app user profile view</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/mobile_app_development/profile.png" alt="Screenshot of the Curious Markings app user profile view" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Stridr -->
<!-- Modal -->
<div class="modal fade" id="stridr2" tabindex="-1" role="dialog" aria-labelledby="stridr1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the Stridr chronological social feed</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_app_development/stridr_1.png" alt="Screenshot of the Stridr chronological social feed" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="stridr1" tabindex="-1" role="dialog" aria-labelledby="stridr2Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title">The Stridr logo</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_app_development/stridr-logo.png" alt="The Stridr logo" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="stridr3" tabindex="-1" role="dialog" aria-labelledby="stridr3Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of a Stridr user's profile</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_app_development/stridr_2.png" alt="Screenshot of a Stridr user's profile" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="stridr4" tabindex="-1" role="dialog" aria-labelledby="stridr3Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the Stridr login screen</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_app_development/stridr_3.png" alt="Screenshot of the Stridr login screen" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- NIC Interactive Media -->
<!-- Modal -->
<div class="modal fade" id="nicim0" tabindex="-1" role="dialog" aria-labelledby="nicim1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h5 class="modal-title">The NIC Interactive Media program's logo</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_design/im_logo.jpg" alt="The NIC Interactive Media program's logo" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="nicim1" tabindex="-1" role="dialog" aria-labelledby="nicim1Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the NIC Interactive Media's landing page</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_design/nicim1.png" alt="Screenshot of the NIC Interactive Media's landing page" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="nicim2" tabindex="-1" role="dialog" aria-labelledby="nicim2Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h5 class="modal-title">A prototype for the 'current students' page</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_design/nicim2.gif" alt="A prototype for the 'current students' page on http://nicinteractive.media" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="nicim3" tabindex="-1" role="dialog" aria-labelledby="nicim3Label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Screenshot of the NIC Interactive Media's alumni page</h5>
      <div class="modal-body">
        <img class="img-fluid" src="images/portfolio_pieces/web_design/nicim3.png" alt="Screenshot of the NIC Interactive Media's alumni page" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>