<div class="anchor" id="to-the-top"></div>
<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="nav">
  <a class="navbar-brand" href="/"><img src="images/objektiv-logo.png" class="img-fluid" alt="Logo for Objektiv Digital"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" id="nav-about">
        <a class="nav-link" href="/#to-the-top">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="nav-mobile">
        <a class="nav-link" href="/#mobile-development-example-one">Mobile</a>
      </li>
      <li class="nav-item" id="nav-applications">
        <a class="nav-link" href="/#mobile-development-example-two">Applications</a>
      </li>
      <li class="nav-item" id="nav-web">
        <a class="nav-link" href="/#web-design-example">Web</a>
      </li>
      <li class="nav-item" id="nav-contact">
        <a class="nav-link" href="/#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>